.vu-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    .search-input{
        flex: 1 0;
        margin: 0 10px 0 0;
    }
    .input-prepend{
        margin: 0 5px 0 0;
    }
    .search-btn{
        font-size: 14px;
    }
}
